.ai-glow-cursor {
  position: fixed;
  pointer-events: none;
  width: 10px;
  height: 10px;
  background: rgba(0, 200, 255, 0.8);
  border-radius: 10%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease,background 0.3s ease;
  box-shadow: 0 0 8px rgba(0, 200, 255, 0.6), 0 0 16px rgba(0, 200, 255, 0.4);
  z-index: 9999;
}

.ai-glow-cursor.hover {
  width: 10px;
  height: 10px;
  background: rgba(0, 255, 200, 0.9);
  box-shadow: 0 0 12px rgba(0, 255, 200, 0.7), 0 0 24px rgba(0, 255, 200, 0.5);
}
